<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Library</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>user</servlet-name>
  <servlet-class>user</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>user</servlet-name>
  <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>admin_dashboard</servlet-name>
  <servlet-class>admin_dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>admin_dashboard</servlet-name>
  <url-pattern>/admin_dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>userSection</servlet-name>
  <servlet-class>userSection</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>userSection</servlet-name>
  <url-pattern>/userSection</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>deleteUser</servlet-name>
  <servlet-class>deleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>deleteUser</servlet-name>
  <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>DisplayBooks</servlet-name>
  <servlet-class>DisplayBooks</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DisplayBooks</servlet-name>
  <url-pattern>/DisplayBooks</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Searchadmin</servlet-name>
  <servlet-class>Searchadmin</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Searchadmin</servlet-name>
  <url-pattern>/Searchadmin</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>BorrowBook</servlet-name>
  <servlet-class>BorrowBook</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>BorrowBook</servlet-name>
  <url-pattern>/BorrowBook</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>OnReserve</servlet-name>
  <servlet-class>OnReserve</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>OnReserve</servlet-name>
  <url-pattern>/OnReserve</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>AddBook</servlet-name>
  <servlet-class>AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AddBook</servlet-name>
  <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>DeleteBook</servlet-name>
  <servlet-class>DeleteBook</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DeleteBook</servlet-name>
  <url-pattern>/DeleteBook</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>UserBooks</servlet-name>
  <servlet-class>UserBooks</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UserBooks</servlet-name>
  <url-pattern>/UserBooks</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>ReturnBook</servlet-name>
  <servlet-class>ReturnBook</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ReturnBook</servlet-name>
  <url-pattern>/ReturnBook</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>BookHistory</servlet-name>
  <servlet-class>BookHistory</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>BookHistory</servlet-name>
  <url-pattern>/BookHistory</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>EditBook</servlet-name>
  <servlet-class>EditBook</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>EditBook</servlet-name>
  <url-pattern>/EditBook</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>EditUser</servlet-name>
  <servlet-class>EditUser</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>EditUser</servlet-name>
  <url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>reserve</servlet-name>
  <servlet-class>reserve</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>reserve</servlet-name>
  <url-pattern>/reserve</url-pattern>
  </servlet-mapping>
</web-app>